.figure { 
	max-width: 20%;
	display: inline-block ;
	margin: 20px 20px 20px -10px;
}

.group {
	/*position: relative;
	max-width: 50%;*/
	position: absolute;
	height: 450px;
	z-index: -5;
	display: inline-block;
	float: left;
	margin: 40px 20px 20px -10px;
}

.guidefigure {
	position: relative;
	max-width: 30%;
	z-index: 0;
	display: inline-block;
	float: left;
	margin: -500px 20px 20px 650px;
}

.izg {
	position: relative;
	max-width: 40%;
	z-index: 0;
	display: inline-block;
	float: left;
	margin: 85px 20px 20px -10px;
}

.profilepic {
	width: 100%;
	/*box-sizing: border-box;*/
	/*height: 10%;*/
	float: left;
}

.paris {
	background-image: linear-gradient(270deg, rgba(237,237,237,0.5) 100%,rgba(323,247,245,0.1) 0%),url(../../images/paris.jpg);
	margin: -300px 250px 0px 250px;
	padding: 200px 0px 150px 0px;
	background-size: cover;
	background-position: left;
	position: relative;
	z-index: -1;
}

.box-grey {
	background-color: rgb(237,237,237);
	overflow: hidden;
	height: 300px;
	margin: 0px 0px 0px -10px;
	z-index: -1;
	position: relative;
	margin-top: 60px;
}


@media (max-width: 1000px) {
	.guidefigure {
		position: relative;
		max-width: 35%;
		z-index: 0;
		display: inline-block;
		float: left;
		margin: -450px 20px 20px 450px;
		}
	}

	.izg {
		position: relative;
		max-width: 40%;
		z-index: 0;
		display: inline-block;
		float: left;
		margin: 85px 30px 20px -10px;
	}
	.paris {
		background-image: linear-gradient(270deg, rgba(237,237,237,0.5) 100%,rgba(323,247,245,0.1) 0%),url(../../images/paris.jpg);
		margin: -300px 150px 0px 150px;
		padding: 200px 0px 150px 0px;
		background-size: cover;
		background-position: left;
		position: relative;
		z-index: -1;	
	}

@media (max-width: 720px) {
	.guidefigure {
		display: none;
		}

	.paris {
		background-image: linear-gradient(270deg, rgba(237,237,237,0.5) 100%,rgba(323,247,245,0.1) 0%),url(../../images/paris.jpg);
		margin: -300px 100px 0px 100px;
		padding: 200px 0px 150px 0px;
		background-size: cover;
		background-position: left;
		position: relative;
		z-index: -1;	
	}

	.izg {
		display: none;
	}

@media (max-width: 600px) {
	.izg {
		display: none;
	}

	.paris {
		background-image: linear-gradient(270deg, rgba(237,237,237,0.5) 100%,rgba(323,247,245,0.1) 0%),url(../../images/paris.jpg);
		margin: -300px 20px 0px 20px;
		padding: 200px 0px 150px 0px;
		background-size: cover;
		background-position: left;
		position: relative;
		z-index: -1;	
	}


